.width-mixin() {
  width: 800px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.App {
  header {
    .header {
      .width-mixin();
      display: flex;
      background: black;
      color: white;
      padding: 20px 0;
    }
  }
  .content {
    background: #e1e1e2;
    padding: 20px;
    .width-mixin();
    .card {
      h2 {
        font-size: 24px;
      }
      .date {
        font-size: 14px;
        color: grey;
      }
      .media {
        display: flex;
        & > p {
          line-height: 22px;
          text-align: justify;
        }
        img {
          width: 25%;
          margin: 0 0 0 30px;
        }
      }
    }
  }
  footer {
  }
}

.spinner {
  // The height here is just for demo purposes
  height: 20vh;
  opacity: 1;
  position: relative;
  transition: opacity linear 0.1s;
  &::before {
    animation: 2s linear infinite spinner;
    border: solid 3px #eee;
    border-bottom-color: #ef6565;
    border-radius: 50%;
    content: "";
    height: 40px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 40px;
    will-change: transform;
  }
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
